body {
	margin: 0;
	background-color: #6223d2;
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 2;
	background: radial-gradient(circle, transparent 0%, rgba(98, 35, 210, 0.85) 100%);
}

.container {
	display: grid;
	grid-template-columns: repeat(10, 200px);
	grid-template-rows: repeat(6, 230px);
	transform: translate(-3%, -4%);
}

.shape {
	width: 200px;
	height: 230px;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.shape:nth-child(11) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(12) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(13) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(14) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(15) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(16) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(17) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(18) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(19) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(20) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(21) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(21) {
	transform: translate(0%, -50%);
}

.shape:nth-child(22) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(22) {
	transform: translate(0%, -50%);
}

.shape:nth-child(23) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(23) {
	transform: translate(0%, -50%);
}

.shape:nth-child(24) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(24) {
	transform: translate(0%, -50%);
}

.shape:nth-child(25) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(25) {
	transform: translate(0%, -50%);
}

.shape:nth-child(26) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(26) {
	transform: translate(0%, -50%);
}

.shape:nth-child(27) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(27) {
	transform: translate(0%, -50%);
}

.shape:nth-child(28) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(28) {
	transform: translate(0%, -50%);
}

.shape:nth-child(29) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(29) {
	transform: translate(0%, -50%);
}

.shape:nth-child(30) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(30) {
	transform: translate(0%, -50%);
}

.shape:nth-child(31) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(31) {
	transform: translate(0%, -50%);
}

.shape:nth-child(31) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(32) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(32) {
	transform: translate(0%, -50%);
}

.shape:nth-child(32) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(33) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(33) {
	transform: translate(0%, -50%);
}

.shape:nth-child(33) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(34) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(34) {
	transform: translate(0%, -50%);
}

.shape:nth-child(34) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(35) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(35) {
	transform: translate(0%, -50%);
}

.shape:nth-child(35) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(36) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(36) {
	transform: translate(0%, -50%);
}

.shape:nth-child(36) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(37) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(37) {
	transform: translate(0%, -50%);
}

.shape:nth-child(37) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(38) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(38) {
	transform: translate(0%, -50%);
}

.shape:nth-child(38) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(39) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(39) {
	transform: translate(0%, -50%);
}

.shape:nth-child(39) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(40) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(40) {
	transform: translate(0%, -50%);
}

.shape:nth-child(40) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(41) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(41) {
	transform: translate(0%, -50%);
}

.shape:nth-child(41) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(41) {
	transform: translate(0%, -100%);
}

.shape:nth-child(42) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(42) {
	transform: translate(0%, -50%);
}

.shape:nth-child(42) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(42) {
	transform: translate(0%, -100%);
}

.shape:nth-child(43) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(43) {
	transform: translate(0%, -50%);
}

.shape:nth-child(43) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(43) {
	transform: translate(0%, -100%);
}

.shape:nth-child(44) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(44) {
	transform: translate(0%, -50%);
}

.shape:nth-child(44) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(44) {
	transform: translate(0%, -100%);
}

.shape:nth-child(45) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(45) {
	transform: translate(0%, -50%);
}

.shape:nth-child(45) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(45) {
	transform: translate(0%, -100%);
}

.shape:nth-child(46) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(46) {
	transform: translate(0%, -50%);
}

.shape:nth-child(46) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(46) {
	transform: translate(0%, -100%);
}

.shape:nth-child(47) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(47) {
	transform: translate(0%, -50%);
}

.shape:nth-child(47) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(47) {
	transform: translate(0%, -100%);
}

.shape:nth-child(48) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(48) {
	transform: translate(0%, -50%);
}

.shape:nth-child(48) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(48) {
	transform: translate(0%, -100%);
}

.shape:nth-child(49) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(49) {
	transform: translate(0%, -50%);
}

.shape:nth-child(49) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(49) {
	transform: translate(0%, -100%);
}

.shape:nth-child(50) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(50) {
	transform: translate(0%, -50%);
}

.shape:nth-child(50) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(50) {
	transform: translate(0%, -100%);
}

.shape:nth-child(51) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(51) {
	transform: translate(0%, -50%);
}

.shape:nth-child(51) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(51) {
	transform: translate(0%, -100%);
}

.shape:nth-child(51) {
	transform: translate(-50%, -125%);
}

.shape:nth-child(52) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(52) {
	transform: translate(0%, -50%);
}

.shape:nth-child(52) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(52) {
	transform: translate(0%, -100%);
}

.shape:nth-child(52) {
	transform: translate(-50%, -125%);
}

.shape:nth-child(53) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(53) {
	transform: translate(0%, -50%);
}

.shape:nth-child(53) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(53) {
	transform: translate(0%, -100%);
}

.shape:nth-child(53) {
	transform: translate(-50%, -125%);
}

.shape:nth-child(54) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(54) {
	transform: translate(0%, -50%);
}

.shape:nth-child(54) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(54) {
	transform: translate(0%, -100%);
}

.shape:nth-child(54) {
	transform: translate(-50%, -125%);
}

.shape:nth-child(55) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(55) {
	transform: translate(0%, -50%);
}

.shape:nth-child(55) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(55) {
	transform: translate(0%, -100%);
}

.shape:nth-child(55) {
	transform: translate(-50%, -125%);
}

.shape:nth-child(56) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(56) {
	transform: translate(0%, -50%);
}

.shape:nth-child(56) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(56) {
	transform: translate(0%, -100%);
}

.shape:nth-child(56) {
	transform: translate(-50%, -125%);
}

.shape:nth-child(57) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(57) {
	transform: translate(0%, -50%);
}

.shape:nth-child(57) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(57) {
	transform: translate(0%, -100%);
}

.shape:nth-child(57) {
	transform: translate(-50%, -125%);
}

.shape:nth-child(58) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(58) {
	transform: translate(0%, -50%);
}

.shape:nth-child(58) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(58) {
	transform: translate(0%, -100%);
}

.shape:nth-child(58) {
	transform: translate(-50%, -125%);
}

.shape:nth-child(59) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(59) {
	transform: translate(0%, -50%);
}

.shape:nth-child(59) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(59) {
	transform: translate(0%, -100%);
}

.shape:nth-child(59) {
	transform: translate(-50%, -125%);
}

.shape:nth-child(60) {
	transform: translate(-50%, -25%);
}

.shape:nth-child(60) {
	transform: translate(0%, -50%);
}

.shape:nth-child(60) {
	transform: translate(-50%, -75%);
}

.shape:nth-child(60) {
	transform: translate(0%, -100%);
}

.shape:nth-child(60) {
	transform: translate(-50%, -125%);
}


/* STARS */
.night-wrap {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}

.night {
	position: relative;
	width: 100%;
	height: 100%;
	transform: scale(3) rotateZ(45deg);
}

.shooting_star {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 2px;
	background: linear-gradient(-45deg, rgb(219, 230, 255), rgba(0, 0, 255, 0));
	border-radius: 999px;
	filter: drop-shadow(0 0 6px rgb(255, 255, 255));
	animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before {
	content: '';
	position: absolute;
	top: calc(50% - 1px);
	right: 0;
	height: 2px;
	background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(219, 230, 255), rgba(0, 0, 255, 0));
	transform: translateX(50%) rotateZ(45deg);
	border-radius: 100%;
	animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
	content: '';
	position: absolute;
	top: calc(50% - 1px);
	right: 0;
	height: 2px;
	background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(219, 230, 255), rgba(0, 0, 255, 0));
	transform: translateX(50%) rotateZ(45deg);
	border-radius: 100%;
	animation: shining 3000ms ease-in-out infinite;
	transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
	top: calc(50% - -15px);
	left: calc(50% - 94px);
	animation-delay: 6664ms;
}

.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
	animation-delay: 6664ms;
}

.shooting_star:nth-child(2) {
	top: calc(50% - -54px);
	left: calc(50% - 107px);
	animation-delay: 5572ms;
}

.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
	animation-delay: 5572ms;
}

.shooting_star:nth-child(3) {
	top: calc(50% - -108px);
	left: calc(50% - 56px);
	animation-delay: 8486ms;
}

.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
	animation-delay: 8486ms;
}

.shooting_star:nth-child(4) {
	top: calc(50% - 139px);
	left: calc(50% - 273px);
	animation-delay: 814ms;
}

.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
	animation-delay: 814ms;
}

.shooting_star:nth-child(5) {
	top: calc(50% - 179px);
	left: calc(50% - 69px);
	animation-delay: 6711ms;
}

.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
	animation-delay: 6711ms;
}

.shooting_star:nth-child(6) {
	top: calc(50% - 51px);
	left: calc(50% - 11px);
	animation-delay: 1986ms;
}

.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
	animation-delay: 1986ms;
}

.shooting_star:nth-child(7) {
	top: calc(50% - 115px);
	left: calc(50% - 52px);
	animation-delay: 9958ms;
}

.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
	animation-delay: 9958ms;
}

.shooting_star:nth-child(8) {
	top: calc(50% - 161px);
	left: calc(50% - 290px);
	animation-delay: 5568ms;
}

.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
	animation-delay: 5568ms;
}

.shooting_star:nth-child(9) {
	top: calc(50% - 8px);
	left: calc(50% - 113px);
	animation-delay: 9990ms;
}

.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
	animation-delay: 9990ms;
}

.shooting_star:nth-child(10) {
	top: calc(50% - 104px);
	left: calc(50% - 135px);
	animation-delay: 6996ms;
}

.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
	animation-delay: 6996ms;
}

.shooting_star:nth-child(11) {
	top: calc(50% - -25px);
	left: calc(50% - 190px);
	animation-delay: 2062ms;
}

.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
	animation-delay: 2062ms;
}

.shooting_star:nth-child(12) {
	top: calc(50% - 141px);
	left: calc(50% - 238px);
	animation-delay: 8696ms;
}

.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
	animation-delay: 8696ms;
}

.shooting_star:nth-child(13) {
	top: calc(50% - -114px);
	left: calc(50% - 34px);
	animation-delay: 9972ms;
}

.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
	animation-delay: 9972ms;
}

.shooting_star:nth-child(14) {
	top: calc(50% - 187px);
	left: calc(50% - 173px);
	animation-delay: 545ms;
}

.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
	animation-delay: 545ms;
}

.shooting_star:nth-child(15) {
	top: calc(50% - 108px);
	left: calc(50% - 250px);
	animation-delay: 7180ms;
}

.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
	animation-delay: 7180ms;
}

.shooting_star:nth-child(16) {
	top: calc(50% - -80px);
	left: calc(50% - 277px);
	animation-delay: 6127ms;
}

.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
	animation-delay: 6127ms;
}

.shooting_star:nth-child(17) {
	top: calc(50% - 140px);
	left: calc(50% - 293px);
	animation-delay: 5609ms;
}

.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
	animation-delay: 5609ms;
}

.shooting_star:nth-child(18) {
	top: calc(50% - -86px);
	left: calc(50% - 38px);
	animation-delay: 7649ms;
}

.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
	animation-delay: 7649ms;
}

.shooting_star:nth-child(19) {
	top: calc(50% - -28px);
	left: calc(50% - 45px);
	animation-delay: 2698ms;
}

.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
	animation-delay: 2698ms;
}

.shooting_star:nth-child(20) {
	top: calc(50% - -27px);
	left: calc(50% - 238px);
	animation-delay: 9294ms;
}

.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
	animation-delay: 9294ms;
}

@keyframes tail {
	0% {
		width: 0;
	}

	30% {
		width: 100px;
	}

	100% {
		width: 0;
	}
}

@keyframes shining {
	0% {
		width: 0;
	}

	50% {
		width: 30px;
	}

	100% {
		width: 0;
	}
}

@keyframes shooting {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(300px);
	}
}

@keyframes sky {
	0% {
		transform: rotate(45deg);
	}

	100% {
		transform: rotate(405deg);
	}
}