/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.content-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	/* background-color: black; */
}

.content {
	position: relative;
	margin: 20vw;
	text-align: center;
	/* background-color: yellow; */
}

/* -------------------------------------------------------------------------------------- */
/* Kytica */
/* -------------------------------------------------------------------------------------- */
.bouquet {
	margin: auto;
	width: 50vw;
	-webkit-animation: cssAnimation 60s linear infinite;
	        animation: cssAnimation 60s linear infinite;
}

@-webkit-keyframes cssAnimation {
	from {
		-webkit-transform: rotate(360deg);
	}

	to {
		-webkit-transform: rotate(0deg);
	}
}

@keyframes cssAnimation {
	from {
		-webkit-transform: rotate(360deg);
	}

	to {
		-webkit-transform: rotate(0deg);
	}
}


/* -------------------------------------------------------------------------------------- */
/* Prianie */
/* -------------------------------------------------------------------------------------- */

.plate {
	position: absolute;
	top: 5vw;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
}

.shadow {
	color: #fff;
	font-family: Arvo;
	font-weight: bold;
	text-shadow:
		-3px -3px 0 #222,
		3px -3px 0 #222,
		-3px 3px 0 #222,
		3px 3px 0 #222,
		4px 4px 0 #fff,
		5px 5px 0 #fff,
		6px 6px 0 #fff,
		7px 7px 0 #fff;
	line-height: 0.8em;
	letter-spacing: 0.1em;
	-ms-transform: scaleY(0.7);
	    transform: scaleY(0.7);
	-webkit-transform: scaleY(0.7);
	-moz-transform: scaleY(0.7);
	margin: 0;
	text-align: center;
}

.script {
	font-family: "Seaweed Script";
	text-shadow: -0.2vw -0.2vw 0 #222;
	color: #fff;
	text-align: center;
	font-size: 6vw;
	position: relative;
	margin: 0;
}

.script span {
	padding: 1em;
}

.script.hearts {
	font-size: 3vw;
}

.text1 {
	font-size: 12vw;
}

.text2 {
	font-size: 7vw;
	-webkit-animation: color-change 1s infinite;
	        animation: color-change 1s infinite;
}

.text3 {
	font-size: 12vw;
	margin-bottom: 3vw;
}

@-webkit-keyframes color-change {
	0% {
		color: rgb(255, 0, 234);
	}

	20% {
		color: rgb(0, 217, 255);
	}

	40% {
		color: rgb(174, 0, 255);
	}

	60% {
		color: rgb(0, 255, 213);
	}

	100% {
		color: rgb(255, 0, 234);
	}
}

@keyframes color-change {
	0% {
		color: rgb(255, 0, 234);
	}

	20% {
		color: rgb(0, 217, 255);
	}

	40% {
		color: rgb(174, 0, 255);
	}

	60% {
		color: rgb(0, 255, 213);
	}

	100% {
		color: rgb(255, 0, 234);
	}
}

/* -------------------------------------------------------------------------------------- */
/* Fun */
/* -------------------------------------------------------------------------------------- */

.fun {
	margin-bottom: 30vh;
}

.fun>.item {
	margin-top: 20vh;
	position: relative;
	-webkit-box-shadow: 2vw 2vw 5vw 1vw rgba(0, 0, 0, 0.657), inset 2vw 2vw 5vw 1vw rgba(255, 255, 255, 0.6), inset -2vw -2vw 5vw 1vw rgba(255, 255, 255, 0.6);
	        box-shadow: 2vw 2vw 5vw 1vw rgba(0, 0, 0, 0.657), inset 2vw 2vw 5vw 1vw rgba(255, 255, 255, 0.6), inset -2vw -2vw 5vw 1vw rgba(255, 255, 255, 0.6);
	padding: 5vw
}

.fun>.item>img {
	max-height: 50vh;
	max-width: 100%;
}

.visible {
	opacity: 1;
	-webkit-transition: opacity 1s ease, left 2s ease, right 2s ease;
	-o-transition: opacity 1s ease, left 2s ease, right 2s ease;
	transition: opacity 1s ease, left 2s ease, right 2s ease;
}

.visible.invisible {
	opacity: 0;
}

.visible:nth-child(odd) {
	left: 0;
}

.visible:nth-child(even) {
	right: 0;
}

.visible:nth-child(odd).invisible {
	left: 60vw;
}

.visible:nth-child(even).invisible {
	right: 60vw;
}


/* -------------------------------------------------------------------------------------- */
/* Action button */
/* -------------------------------------------------------------------------------------- */

:root {
	--backgroundColor: rgba(246, 241, 209);
	--colorShadeA: rgb(106, 163, 137);
	--colorShadeB: rgb(121, 186, 156);
	--colorShadeC: rgb(150, 232, 195);
	--colorShadeD: rgb(187, 232, 211);
	--colorShadeE: rgb(205, 255, 232);
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*::before, *::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--colorShadeA);
	font-weight: 700;
	text-transform: uppercase;
}

button.big-button {
	padding: 1em 2em;
	border: 2px solid var(--colorShadeA);
	border-radius: 1em;
	background: var(--colorShadeE);
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	-webkit-transition: all 175ms cubic-bezier(0, 0, 1, 1);
	-o-transition: all 175ms cubic-bezier(0, 0, 1, 1);
	transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--colorShadeC);
	border-radius: inherit;
	-webkit-box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
	        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
	-webkit-transform: translate3d(0, 0.75em, -1em);
	        transform: translate3d(0, 0.75em, -1em);
	-webkit-transition: all 175ms cubic-bezier(0, 0, 1, 1);
	-o-transition: all 175ms cubic-bezier(0, 0, 1, 1);
	transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


button.big-button:hover {
	background: var(--colorShadeD);
	-webkit-transform: translate(0, 0.375em);
	    -ms-transform: translate(0, 0.375em);
	        transform: translate(0, 0.375em);
}

button.big-button:hover::before {
	-webkit-transform: translate3d(0, 0.75em, -1em);
	        transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
	-webkit-transform: translate(0em, 0.75em);
	    -ms-transform: translate(0em, 0.75em);
	        transform: translate(0em, 0.75em);
}

button.big-button:active::before {
	-webkit-transform: translate3d(0, 0, -1em);
	        transform: translate3d(0, 0, -1em);

	-webkit-box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

	        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}

/* -------------------------------------------------------------------------------------- */
/* Tool */
/* -------------------------------------------------------------------------------------- */

#tool {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	font-family: "Seaweed Script";
	font-size: 5vh;
	padding: 3vw;
}

.tool-content {
	width: 100%;
	text-align: center;
}

#tool .progress {
	width: 80%;
	display: inline-block;
	height: 5vh;
	border: 1vh solid white;
	text-align: left;
    font-size: 0;
}

#tool .progress-bar {
	display: inline-block;
	width: 0%;
	height: 100%;
	background: greenyellow;
	background: -o-repeating-linear-gradient(135deg, greenyellow, greenyellow 15px, pink 15px, pink 30px);
	background: repeating-linear-gradient(-45deg, greenyellow, greenyellow 15px, pink 15px, pink 30px);
}

.zen {
	max-width: 80%;
}